<div class="contain">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="signform" (ngSubmit)="sigup()">
        <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" id="name" placeholder="Your Name" formControlName = "name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" placeholder="email@yahoo.com" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
        <div *ngIf="f['email'].errors && f['email'].touched">
          <p>Valid email required</p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="card">
     <app-userlist [details]="userdet" (updatedetail)="updateform($event)"></app-userlist>
  </div>
  </div>